# Docker Data Folders (Ignore everything inside data/db folders)
docker/*/data/
docker/*/db/
docker/*/gitea-data/
docker/*/gitea-db/
docker/*/gitea-tailscale-state/
docker/*/secrets/
docker/*/letsencrypt/

# Passbolt specific
docker/passbolt/data/

# Zabbix specific
docker/zabbix/data/

# Samba AD specific
docker/samba-ad/data/
docker/samba-ad/config/

# OS/System garbage
.DS_Store
*.log
*.tmp
.env
