# Dane kontenerów 
**/data/
**/db/
**/database/
**/postgres/
**/mysql/
**/secrets/
**/letsencrypt/
**/config/
**/configs/
**/icons/

# Logi i pliki tymczasowe 
*.log
*.tmp
*.swp
.DS_Store
ansible/*.retry

